/* ===========================
   GLOBAL
=========================== */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background: #000;
    color: #00ff66;

    font-family: "VT323", monospace;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

/* Headings */

h1 {
    font-size: 3.8rem;
    margin-bottom: 30px;
    text-shadow: 0 0 30px #00ff66;
}

h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 15px;
    text-shadow: 0 0 30px #00ff66;
}

/* Paragraphs */

p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-shadow: 0 0 30px #00ff66;
}

/* Links */

a {

    display: inline-block;

    color: #00ff66;

    font-size: 1.5rem;
    font-weight: bold;

    text-decoration: none;

    transition:
        transform .2s ease,
        text-shadow .2s ease;

}

a:hover {

    transform: scale(1.08);

    text-shadow: 0 0 12px #00ff66;

}

::selection {

    background: #00ff66;

    color: black;

}