.navbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    /* Safe area support */
    padding-top: env(safe-area-inset-top);
    padding-bottom: 18px;

    background: #000;

    border-bottom: 2px solid #00ff66;

    box-shadow:
        0 0 12px #00ff66,
        inset 0 0 8px rgba(0,255,102,.15);

    overflow: hidden;
}

.navbar::before {

    content: "";

    position: absolute;

    inset: 0;

    background: repeating-linear-gradient(
        to bottom,
        rgba(0,255,102,.03),
        rgba(0,255,102,.03) 1px,
        transparent 2px,
        transparent 4px
    );

    opacity: 0.8;

    pointer-events: none;

}

.navbar a {

    position: relative;

    z-index: 1;

    letter-spacing: 2px;

}

.navbar a.active {

    text-shadow: 0 0 16px #00ff66;

}