/* NAVBAR */

.navbar {

    position: sticky;

    top: 0;

    z-index: 1000;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 50px;

    padding: 18px 0;

    background: black;

    border-bottom: 2px solid #00ff66;

    box-shadow:
        0 0 12px #00ff66,
        inset 0 0 8px rgba(0,255,102,.15);

    overflow: hidden;

}

.navbar::before {

    content: "";

    position: absolute;

    inset: 0;

    background: repeating-linear-gradient(
        to bottom,
        rgba(0,255,102,.03),
        rgba(0,255,102,.03) 1px,
        transparent 2px,
        transparent 4px
    );

    opacity: 0.8;

    pointer-events: none;

}

.navbar a {

    position: relative;

    z-index: 1;

    letter-spacing: 2px;

    text-shadow: 0 0 30px #00ff66;

    transition:
	transform .2s ease,
	text-shadow .2s ease;

}

.navbar a:hover {

    transform: scale(1.08);

    text-shadow: 0 0 12px #00ff66;

}

.navbar a.active {

    text-shadow: 0 0 12px #00ff66;

}

@media (max-width: 768px) {

    .navbar {
        transition: transform 0.3s ease;
    }

    .navbar.nav-hidden {
        transform: translateY(-100%);
    }

}